# R
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Python
__pycache__/
*.pyc
*.pyo
.venv/
env/
*.ipynb_checkpoints

# Stata
*.smcl
*.log

# Data (no subir datos sensibles)
data/raw/*
data/processed/*
!data/.gitkeep

# Other
.DS_Store
O
